body {
    background-color: #faeee7;
}
header {
    background-color: #33272a; 
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    margin: 20px 50px 50px 50px;
}

nav a {
    color: #f2f7f5;
    padding: 1em 1.5em;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    border-radius: 50px;
    font-family:'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
}

.dropdown-box {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    background-color:  #33272a; 
    font-size: 15px;
    border-radius: 0px 0px 20px 20px;
    border: 3px solid #f2f7f5;  /* Change the color as needed */
    border-top: none;
}

.dropdown-menu a {
    display: block;
    padding: 15px;
}

.dropdown-menu a:hover {
    background-color: #f2f7f5;
}

.dropdown-box:hover .dropdown-menu {
    display: block;
}

nav a:hover {
    background-color: #f2f7f5; 
    color: #33272a;
}

.whole-heading {
    margin: 20px 50px 50px 50px;
    padding: 20px;
    background-color: #33272a;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0.1, 0, 0, 0.1);
}
.title {
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight:600px;
    text-align: center;
    margin: 20px;
    color: #f2f7f5;
}
.bigger-buttons {
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.bigger-buttons a {
    color:#33272a ;
    background-color: #ff8ba7;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #33272a; 
    border-radius: 20px;
    font-family:'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: 2px 5px 1px 0px #33272a; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin:50px;
}
body hr {
    margin: 50px;
    height: 5px;
    background-color: #33272a;
}
.container-title{
    font-family: Georgia, serif;
    margin: 50px;
    font-size:30px;
    text-align: center;
}

.box {
    background-color:#f2f7f5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title-audio {
    font-size: 18px;
    margin: 10px;
    
}
audio {
    width: 150px;
    height:30px;
    border: 5px solid #ff8ba7;
    border-radius: 100px;
    box-shadow: 1px 2px 1px 0px #33272a; 

}

.go-to-top-button {
    text-align: center;
    margin-bottom:20px;
    
}
.go-to-top-button a {
    color:  #33272a ;
    background-color: #ff8ba7;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #33272a; 
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 20px;    
    box-shadow: 2px 5px 1px 0px #33272a; 
}

.box-artist {
    background-color:#33272a;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.box-artist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box-artist-title {
    font-size: 18px;
    margin: 10px;  
    color:#f2f7f5;
    font-size: 20px;
    font-weight: bold;
}

.box-album {
    background-color:#33272a;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}
.box-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box-album-title {
    font-size: 18px;
    margin: 10px;
    color: #f2f7f5;
}

.box-album-desc {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding:30px;
}
